@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-section {
  background-image: url('../public/assets/navbar.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px black solid;
}

.creator-card {
  background-image: url('../public/assets/navbar.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


.video-card{
  background-image: url('../public/assets/videocard.svg');
  background-size: cover;
  background-repeat: no-repeat;

}
